/* -------1920--------- */

@media only screen and (min-width:1920px) {

  .container-fluid {
    width: 1903px;
    margin: auto;
  }

  .hero-section {
    height: 75vh;
  }
}


@media only screen and (max-width:1024px) {}

@media only screen and (max-width:999px) {
  .offcanvas-header {
    background: #171717;
}
.navbar-nav {
    margin: 0px !important;
}
 button.navbar-toggler {
    background: #171717;
    height: 35px;
  }
  .headermenusec {
    font-size: 22px;
    padding-bottom: 22px !important;
 }
}


@media only screen and (max-width:768px) {

  .secherslid2,
  .secherslid1 {
    padding: 50px 20px 140px 20px;
    border-radius: 10px;
  }

  button.navbar-toggler {
    background: #171717;
    height: 35px;
  }

  .secpadlr {
    padding: 0px 0px;
  }

  .secwhitpad {
    padding: 0;
  }

  .secmainlogo {
    width: 70% !important;
  }

  .sececarddesktop {
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 9999;
    border-radius: 0px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 0px;
    background: #ffffff;
    border-top: 2px solid #F51E52;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  }

  .icon-bar i {
    font-size: 26px;
    cursor: pointer;
    padding-right: 0px;
  }

  .sececarddesktop a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    font-size: 16px;
    text-decoration: none;
    /* transition: all 0.3s ease; */
    padding-bottom: 5px;
  }

  .icon-bar {
    padding: 10px 20px;
    position: relative;
    display: flex;
    z-index: 10;
    justify-content: space-around !important;
  }

  .seccmetehadd {
    display: none;
  }

  .sec-menu-bgg {
    margin-top: 0px;
    padding: 0;
  }

  .sec-space-left-right-nav {
    padding: 0px 0px;
  }

  .brand-strip img,
  .brand-reflection img {
    max-height: 30px;
    margin: 10px 15px;
  }

  .brand-strip,
  .brand-reflection {
    padding: 20px 0;
  }

  .marquee-text {
    font-size: 24px;
    margin: 0 10px;
  }

  .slide-text h2 {
    font-size: 40px;
  }

  .slide-text p {
    font-size: 18px;
    padding-top: 10px;
  }

  .slide-button {
    text-align: start;
    margin: 40px 0px 0px 0px !important;
  }

  .shop-title {
    font-size: 22px;
  }

  .salon-name {
    font-size: 35px;
  }
  .hero-content h1 {
    font-size: 20px;
 }
.hero-section {
    height: auto;
    border-radius: 0;
    }
    .hero-overlay {
    height: 88%;
    }
    .hero-content {
    top: 0%;
    transform: translateY(0%);
}
.secmarbt {
    margin-right: 0px;
}
.secpadvd{
  padding-top: 0px !important;
}
.btn-story {
    margin: 35px 0px 20px 0px !important;
}
}

@media only screen and (max-width: 576px) {

  .social-sidebar {
    padding: 15px 8px;
    gap: 16px;
  }

  .social-sidebar a {
    font-size: 18px;
  }

  .offer-badge {
    font-size: 12px;
    padding: 8px 4px;
  }
}

@media only screen and (max-width:430px) {}

@media only screen and (max-width:380px) {}


@media only screen and (max-width:320px) {}